::-webkit-input-placeholder {
    // color: peachpuff;
     font-size: 13px;
   }
   ::-moz-placeholder {
   //  color: peachpuff;
     font-size: 13px;
   }
   :-ms-input-placeholder {
  //   color: peachpuff;
     font-size: 13px;
   }
   ::placeholder {
     //color: peachpuff;
     font-size: 12px;
     
   }

.date-button-container{
  cursor: pointer;padding: 0.4vh;margin-left:1vw;
  button{
    background-color:#000000 ;color:#fcdb04 ;border:1px solid #000000
  }
}

.loaderContanier{
  width: 100%;height:100%;background-color: #ffffff;z-index: 1;
}

.search{
  width: 90%;padding: 0px;margin-left: 5%;margin-top:10vh;
}

.table-invoice-field{
  overflow: hidden;padding-right:5px;
}
.table-download-field{
  position: sticky;right:0px;min-width: 4.5vw;max-width: 4.5vw;background-color: #ffffff;
}
.table-address-field{
  text-overflow: ellipsis;overflow: hidden;white-space: nowrap;height: 80%;width: 14vw !important;margin: 0px;
}

.loader {
    position:absolute;
    top:30%;
    left:45%;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.dateContain{
  width: 90%;margin-left: 5%;margin-right: 5%;
}
.dateTo{
  cursor: pointer;text-align: center;font-size: 16px;
}

.dateContainer{
  cursor: pointer;padding: 5px;background-color: #ffffff;
  .dateInput{
    border:none;width: 80%;margin: 0px;padding: 5px;
  }
  .dateicon{
    float:right;padding-top: 0.4vh;
  }
}
.tableContainer{
  width: 90%;margin-top: 0vh;
}
.tableInvoiceId{
  min-width: 3vw !important;max-width: 8vw !important;overflow: hidden;padding-right:5px;
}
.tabledownload{
  position: sticky;right:0px;min-width: 4vw;;background-color: #ffffff;
}

.tableCustomerAddress{
  float: left;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;height: 80%;width: 13vw;margin: 0px;
}
.paginationContainer{
  margin-left:30%;margin-top:1.5vh;margin-bottom: 0%;
}
.search-container {
  margin-right: 2vh;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  display: inline;
  float: right;
  padding: 6px;
  margin-top: 8px;
  background-color: #ffffff;
  font-size: 17px;
  border: none;
  cursor: pointer;
  }

  // table {
  //   thead{
  //      display:table;table-layout:fixed;
  //   }
  //   tbody{
  //       display:block;
  //       tr{
  //           display:table;  table-layout:fixed;
  //       }
  //   }
  // }

  .empty {
    display:none;
  }
  .empty:first-child {
      
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    padding: 7px;
    display:block;
  }

  .box-shadows{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.alert{
    min-height:10%;min-width:10%;position:absolute;top:50%;left:40%;z-index:1;
    padding: 20px;
    background-color:#fcdb04 ;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0px 10px 10px 0 rgba(0, 0, 0, 0.19);
}


.container{
   margin-top: 3vh; 
    width: 90%;
}
.card-columns{
    
    margin-left: 18%;
    width: 70%;
}

.text-style{
    display:inline;float:left;font-weight: bold;font-size: 20px;margin-top: 1vh; 
    }
.center-block {
    font-size:1.2vw;
    font-weight: bold;
    margin-left: 30%;
    
      
  }
  .cursor{
      cursor: pointer;
  }
.card {
    display: inline-block;
    padding-top: 2vh;
    background-color: #ffffff;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    padding-bottom: 1vh;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.textnumber{
    color: #3f51b5;

}
.card-text{
    font-size: 14px;
    font-weight: bold;
}
.centerline{

    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 0px solid #ffffff;
}
.icons{
    font-size: 18px;
}
.left{
    
    float: left;
}
.right{
    float: right;
}
table {
  thead{
     display:table;table-layout:fixed; 
  }
  tbody{
      display:block;
      tr{
          display:table;  table-layout:fixed;
      }
  }
}
.box-shadowss{
  box-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.2), 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.19);
  
}
table {
    border: 2px solid #eeeeee;
    //margin-top: 4vh;
    margin-left: 2%;
    margin-right: 2%;
    border-collapse: separate;
    background-color: #ffffff;
    border: 1px solid #dddddd;
  }
  
  td, th { 
    overflow: hidden;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 0.8vw;
    min-width: 14vw;
    max-width: 14vw;
    background-color: #ffffff;
  }




//   Tabs 


.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}


