<div class="loaderContanier" *ngIf="loaders">
  <div class="loader"></div>
</div>
<div *ngIf="!loaders">
  <!-- Date selection-->
  <div>
    <br><br>
    <div class="row dateContain" >
      <div class="col-xs-4 col-sm-4 col-lg-2 text-style" 
           style="text-align: center;">
        Order Date
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-3 box-shadows dateContainer">
        <input class="dateInput" 
               readonly  
               placeholder="Start Date" 
               [bsConfig]="bsConfig"
               #recstart="bsDatepicker" 
               bsDatepicker 
               [(ngModel)]="received_startDate" 
               (ngModelChange)="dateset($event)"
               [maxDate]="maxDate1">
        <i class="material-icons dateicon" 
           (click)="recstart.toggle()">
           date_range
        </i>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-1 text-style dateTo" > TO
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-3 box-shadows dateContainer">
        <input class="dateInput" 
               readonly 
               placeholder="End Date" 
               ngModel 
               #resend="bsDatepicker"
               [bsConfig]="bsConfig" 
               bsDatepicker 
               [(ngModel)]="received_endDate" 
               (ngModelChange)="datesetend($event)"
               [minDate]="minDate2" 
               [maxDate]="maxDate2">
        <i class="material-icons dateicon" 
           (click)="resend.toggle()">
           date_range
        </i>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-2 date-button-container">
        <button type="button" class="btn" (click)="DateFilter()">Submit</button>
        <button type="button" class="btn " (click)="clearDate()"
          style="margin-left: 5px;">Clear</button>
      </div>
    </div>
  </div>

  <div class="container search">
    <div class="search-container" >
      <input type="text" 
             [(ngModel)]="receivedSearchText" 
             autocomplete="off" 
             placeholder="Search By Customer Name"
             name="search" 
             style="border:none;">
    </div>
  </div>

  <div class="container">
    <div style="overflow:auto;padding-bottom: 2vh;">
      <table>
        <thead>
          <tr>
            <th (click)="setOrder('order_id')" class="table-invoice-field">Invoice ID
            </th>
            <th>Product name</th>
            <th (click)="setOrder('order_date')">Customer Name</th>
            <th (click)="setOrder('product_name')">Customer Phone</th>
            <th (click)="setOrder('branch_id')">Customer Address</th>
            <th (click)="setOrder('status')"> Status</th>
            <th (click)="setOrder('phone_number')" >Recived Date</th>
            <th (click)="setOrder('phone_number')" >Disbursed Date</th>
            <th class="box-shadowss table-download-field"></th>
          </tr>
          <tr *ngIf=" InvoiceRecords.length == 0 ">
            <td colspan="15" style="padding-left:40vw;">
              No Data Available
            </td>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of InvoiceRecords | filter:receivedSearchText |searchByDate:received_startDate:received_endDate:received_datefiltercheck :'received_date'  | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
            <td class="table-invoice-field">{{item.invoice_id}}</td>
            <td>{{item.product_name}}</td>
            <td>{{item.customer_name}}</td>
            <td>{{item.customer_phone}}</td>
            <td>
                <div class="table-address-field">
                {{item.customer_address}}
                </div>      
            </td>
            <td>{{item.status}}</td>
            <td class="textnumber" >{{item.dateformat_received}}</td>
            <td class="textnumber">{{item.dateformat_disbursal}}</td>
            <td class="box-shadowss table-download-field">
              <a [href]="item.invoice_url" 
                [class]="item.product_name" 
                download="download.pdf">
                <span class="material-icons">
                  cloud_download
                </span>
              </a>
            </td>
          </tr>
          <div class="empty">
              No data available
          </div>
        </tbody>
      </table>
    </div>
    <div class="paginationContainer">
      <pagination-controls *ngIf="InvoiceRecords.length != 0 " (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>