::-webkit-input-placeholder {
    // color: peachpuff;
     font-size: 13px;
   }
   ::-moz-placeholder {
   //  color: peachpuff;
     font-size: 13px;
   }
   :-ms-input-placeholder {
  //   color: peachpuff;
     font-size: 13px;
   }
   ::placeholder {
     //color: peachpuff;
     font-size: 14px;
   }







.loader {
    position:absolute;
    top:30%;
    left:45%;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }





.search-container {
    
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: inline;
    float: right;
  padding: 6px;
  margin-top: 8px;
  background-color: #ffffff;
  margin-right: 0px;
  
  font-size: 17px;
  border: none;
  cursor: pointer;
  }

  .box-shadows{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.alert{
    min-height:10%;min-width:10%;position:absolute;top:50%;left:40%;z-index:1;
    padding: 20px;
    background-color:#fcdb04 ;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0px 10px 10px 0 rgba(0, 0, 0, 0.19);
}


.container{
   margin-top: 3vh; 
    width: 90%;
}
.card-columns{
    
    margin-left: 18%;
    width: 70%;
}

.text-style{
    display:inline;float:left;font-weight: bold;font-size: 20px;margin-top: 1vh; 
    }
.center-block {
    font-size:1.2vw;
    font-weight: bold;
    margin-left: 30%;
    
      
  }
  .cursor{
      cursor: pointer;
  }
.card {
    display: inline-block;
    padding-top: 2vh;
    background-color: #ffffff;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    padding-bottom: 1vh;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.textnumber{
    color: #3f51b5;

}
.card-text{
    font-size: 14px;
    font-weight: bold;
}
.centerline{

    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 0px solid #ffffff;
}
.icons{
    font-size: 18px;
}
.left{
    
    float: left;
}
.right{
    float: right;
}
table {
    border: 2px solid #eeeeee;
    margin-top: 4vh;
    margin-left: 2%;
    margin-right: 2%;
    font-family: arial, sans-serif;
    border-collapse: separate;
    background-color: #ffffff;
    border: 1px solid #dddddd;
  }
  
  td, th { 
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    min-width: 8vw;
    background-color: #ffffff;
  }




//   Tabs 


.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}


