
<!-- All alerts (4) -->
<div  style="background: transparent;width:100%;height:100%;display: flex;align-items: center;justify-content: center;z-index: 100;">
<!-- Alert(1)   after successfully approving the data display on UI with total count -->
<div *ngIf="alert1" class="alert alert1 alert-success alert-dismissible">
  <strong >You have approved {{totalApproveCount}} orders successfully</strong>
  <button data-dismiss="alert"> OK</button>
</div>
<!-- Alert(2)  failure and success message after approval of the File (mostly failure mesaage will not come)-->
<div *ngIf="alert2" class=" alert alert2 alert-success alert-dismissible ">
<strong> {{alertmessage}}</strong>
<button data-dismiss="alert" aria-label="close" (click)=cancelapproved()> {{alertbutton}}</button>
</div>
<!-- Alert(3) error mesaage while uploading file -->
<div *ngIf="alert3" class="alert3">
<strong >Error while uploading the file</strong>
  <strong  *ngIf="failurelength">{{failurelength}} incorrect orders found</strong>
</div>
<!-- Alert(4) ask if user want to appoved the  order listed in table-->
<div *ngIf="alert4" class="alert alert4 alert-success alert-dismissible" style="left: 40%;">
    <strong >Are you sure you want to approve {{totalApproveCount}} orders? </strong><br>
      <div  class="button-Container">
        <button (click)="UploadApprove()" class="buttons"> OK</button>
        <button data-dismiss="alert" (click)="alert4 = false" class="buttons">CANCEL</button>
      </div>
</div>
</div>
<!-- Alert(5) -->
<!-- <div *ngIf="successalert" class="alert alertss alert-success alert-dismissible"
  style="width:26%;left:46%;border-radius: 10px; ">

  <strong style="font-size: 18px;">File uploaded successfully <br> Want to approve the file ?</strong><br>
  <div style="width: 100%;">
    <button data-dismiss="alert" (click)="approvedupload()"
      style="display:inline;float: left;width:30%;margin-left:15%;margin-right:auto;margin-top:30px;background-color: #000000;color:#fcdb04;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);border: none;padding:10px 14px; ">

      Yes</button>
    <button data-dismiss="alert" (click)="cancelapproved()"
      style="display:inline;float: left;width:30%;margin-left:10%;margin-right:auto;margin-top:30px;background-color: #000000;color:#fcdb04;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);border: none;padding:10px 15px; ">

      No</button>
  </div>

</div> -->

<!--successfull upload of file and asked for approved -->
<div class="whole-container" *ngIf="downloads">
  <div class="loaderContainer" *ngIf="loaders">
    <div class="loader"></div>
  </div>
  <div *ngIf="!loaders">
    <!-- Main Heading -->
    <div class=" text-center" style="margin-top: 5vh;">
      <span class="text-style "> Branch Wise Order List </span>
      <span class="text-style text-center dateOrder" *ngIf="dateOrder"> Orders Generated
        at&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{dateOrder}} </span>
    </div>
    <br><br>
    <!-- <div *ngIf="boxupload">
          <div  class="container" >
              <span *ngIf="fileToUpload" style="overflow: hidden;float: left;width:70%;height:100%;background-color:#ffffff;margin: 0px;text-align: center;padding-top:10px;font-size: 16px; ">{{fileToUpload.name}}</span>
              <input type="file" style="display:none"
                     id="file"
                     (change)="handleFile($event.target.files)">
                     <label for="file" style="float: right;width:30%;height:100%;background-color:#eeeeee;margin: 0px;text-align: center;padding-top: 9px;border-radius: 0px 10px 10px 0px;font-size: 1.3vw;cursor: pointer;">Choose File</label>
                              
          </div>
          
          <button type="button" class="btn btn-primary" (click)="handleFileInput()" style="padding:1vh 2vw;margin-left: 34%;margin-right: auto;margin-top: 6vh;font-size: 1.4vw;background-color: #fcdb04;color: #000000;border: 1px solid rgba(0, 0, 0, 0.19);box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);font-weight: bold;">Upload File</button>
          <button type="button" class="btn btn-primary" (click)="closeupload()" style="padding:1vh 2.5vw;margin-left: 5%;margin-right: auto;margin-top: 6vh;font-size: 1.4vw;background-color: #fcdb04;color: #000000;border: 1px solid rgba(0, 0, 0, 0.19);box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);font-weight: bold;">Cancel</button>
        </div>    -->
    <div *ngIf="boxupload" class="box-shadows box-container">
      <!-- <i class="material-icons" (click)="closeupload()" style="border-radius: 0px 10px 0px 0px;position: absolute;top:0px;right:0px;background-color:#000000;color:#fcdb04;cursor: pointer;"> clear </i> -->
      <!-- file container -->
      <div class="file-container">
        <strong>File selected</strong><br>
      </div>
      <!-- fileName container -->
      <div class="filename-container">
        <div class="file-innerContainer">
          <span *ngIf="fileToUpload" class="filename">{{fileToUpload.name}}</span>
        </div>
      </div>
      <!-- Approved message -->
      <div class="approved-messaage-container">
        <strong *ngIf="uploadFileSuccess">{{uploadFileSuccess}} orders uploaded successfully</strong>
        <strong>Do you want to approve them?</strong>
      </div>
      <!-- Button container (yes/no) -->
      <div class="button-container">
        <button type="button" (click)="approvedupload()"> Yes</button>
        <button type="button" style="float: right" (click)="cancelapproved()"> No</button>
      </div>

    </div>
    <!-- <div class="containers" style="margin-top:19vh;width: 80%;margin-left: 10%;" *ngIf="failurealert">
      <label style="margin-left:2vw;font-size: 1.5vw;" class="text-danger">Failure Reasons </label>
      <div style="margin-top:1vh;">
        <table>
          <tr>
            <th>Approvel ID</th>
            <th>Status</th>
            <th>Remarks</th>

          </tr>
          <tr *ngFor="let failure of failureResponse">
            <td>{{failure.invoice_id}}</td>
            <td>{{failure.status}}</td>
            <td>{{failure.Remarks}}</td>


          </tr>





        </table>
      </div>
    </div> -->
    <!-- <div *ngIf="boxupload" class="box-shadows" style="border-radius: 15px;width: 40% !important;height:270px !important;background-color:#fcdb04;border:1px solid rgba(0, 0, 0, 0.2);margin-left: 30%;margin-top: 4vh;position: relative;padding: 2vh 4vh;">
           
              <i class="material-icons" (click)="closeupload()" style="border-radius: 0px 10px 0px 0px;position: absolute;top:0px;right:0px;background-color:#000000;color:#fcdb04;cursor: pointer;">
                  clear
                  </i>
                  <div style="width: 100%;text-align: center;margin-top: 2vh;font-size: 18px;font-weight: bold;">
            <strong style="font-size: 18px;font-weight: bold;">Upload  Excel File</strong><br> 
                  </div>
            <div style="width: 100%;margin-top: 4vh;padding-top: 2vh;">
                <input type="file" #file style="display:none" (change)="handleFile($event.target.files)"
                 id="file"
                 >
                 <div style="height: 10vh;padding-top: 2vh;width: 100%;border: 1px solid #000000;overflow: hidden;font-size: 18px;padding-top: 2vh;text-align: center;">
                  <span *ngIf="fileToUpload" style="background: transparent;text-align: center;font-size:18px;">{{fileToUpload.name}}</span>
                </div>
            </div>



            <div style="width: 100%;">
                <button   (click)="file.click()"  style="display:inline;float: left;width:50%;margin-left:1%;margin-right:auto;margin-top:30px;background-color: #000000;color:#fcdb04;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);border: none;padding: 12px;">
                Choose File</button>
                <button   (click)="handleFileInput()"  style="display:inline;float: left;width:45%;margin-left:4%;margin-right:auto;margin-top:30px;background-color: #000000;color:#fcdb04;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);border: none;padding: 12px; ">
                Upload</button>
                </div>
          
          </div> -->
  </div>
</div>
<!--successfull upload of file and asked for approved closed -->

<!-- Table UI -->
<div *ngIf="!downloads">
  <div class="loaderContainer" *ngIf="loaders">
    <div class="loader"></div>
  </div>
 <div *ngIf="!loaders">
    <div *ngIf="checks">
      <!-- Main Heading  -->
      <div class=" text-center" style="margin-top: 5vh;">
        <span class="text-style "> Branch Wise Order List </span>
      </div>
      <div class=" text-center" *ngIf="!AllApprove" style="margin-top: 2vh;">
        <span class="text-style text-center" style="font-size: 18px;"> No orders pending for approval </span>
      </div>
      <div class=" text-center" *ngIf="AllApprove" style="margin-top: 2vh;">
        <span class="text-style text-center" style="font-size: 1.2vw;" *ngIf="dateOrder"> Orders Generated at
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{dateOrder}} </span>

      </div>
      <!-- Main heading closed -->
      <br><br>

      <!-- table 1  -->
      <div class="table1" *ngIf="AllApprove">
        <table *ngIf="totalCount">
          <tr>
            <th>STATE</th>
            <th> ORDERS</th>
          </tr>
          <tr *ngFor="let item of uploadOrder">
            <td>{{item.state}}</td>
            <td>{{item.count}}</td>
          </tr>
          <tr *ngIf="totalCount">
            <td style="font-weight: bold;">Total</td>
            <td style="font-weight: bold;"> {{totalCount}}</td>
          </tr>
        </table>

        <!-- Table button  -->
        <div class="table1-button" *ngIf="totalCount">
          <button type="button" 
                  *ngIf="modifybutton" 
                  class="btn btn-default intialButton"
                  (click)="sendApprove()">
            Approve
          </button>
          <button type="button" 
                  *ngIf="!modifybutton" 
                  class="btn btn-default intialButton"
                  (click)="Download()">
            Download
          </button>
          <button type="button" 
                  *ngIf="modifybutton" 
                  class="btn btn-default modify-download"
                  (click)="Download()">
            Download
          </button>
          <button type="button" 
                  class="btn btn-default intialButton" 
                  style="float: right"
                  (click)="modifyApproval()">
            Modify
          </button>
        </div>
        <!-- table button closed -->
      </div>
      <!-- table 1 end  -->
      <br><br><br>
      <!--2nd Table main container -->
      <div *ngIf="AllApprove">
        <div *ngIf="approvetable" class="table2Container">
          <!-- <div style="width: 90%;margin-left:5%;"> 
        <button type="button" *ngIf="uploadOrderList.length != 0" class="btn btn-default" style="background-color: #fcdb04;padding-left: 2vw;padding-right: 2vw;margin-bottom: 3vh;font-weight: bold;" (click)="modifyApproval()">Modify</button>
          <button type="button"  class="btn btn-default" style="background-color: #fcdb04;padding-left: 2vw;padding-right: 2vw;margin-bottom: 3vh;font-weight: bold;margin-left: 5%;" (click)="download()">Download</button>
          <button type="button" *ngIf="uploadOrderList.length != 0" class="btn btn-default" style="background-color: #eeeeee;margin-top:2vh ;margin-left: 10%;padding-left: 20px;padding-right: 20px;float: right;" (click)="sendApprove()">Clear</button>

          <button type="button" *ngIf="uploadOrderList.length != 0" class="btn btn-default" style="background-color: #eeeeee;padding-left: 20px;padding-right: 20px;float: right;margin-bottom: 3vh;" (click)="sendApprove()">Approve</button>

        </div> -->

          <!-- Table -->
          <div class="tableInnerContainer" style="width: 100%;overflow:auto">
            <table>
              <thead class="theads">
              <!-- [class.active]="order === 'branch_id'" -->
                <tr style="cursor: pointer;">
                  <th (click)="setOrder('branch_id')">Branch Id
                    <button class="increment-decrement-button">
                      <i class="material-icons ">
                        swap_vert
                      </i>
                    </button>
                  </th>
                  <th (click)="setOrder('branch_name')">Branch Name
                    <button class="increment-decrement-button">

                      <i class="material-icons ">
                        swap_vert
                      </i>
                    </button>
                  </th>
                  <th (click)="setOrder('region')">Region
                    <button class="increment-decrement-button">

                      <i class="material-icons ">
                        swap_vert
                      </i>
                    </button>
                  </th>
                  <th (click)="setOrder('product_name')">Product Name
                    <button class="increment-decrement-button">

                      <i class="material-icons ">
                        swap_vert
                      </i>
                    </button>
                  </th>
                  <th (click)="setOrder('state')">State
                    <button class="increment-decrement-button">

                      <i class="material-icons ">
                        swap_vert
                      </i>
                    </button>
                  </th>
                  <th>Poduct Quantity

                  </th>

                </tr>
                <tr *ngIf="uploadOrderList.length != 0">
                  <td>
                    <input type="text" placeholder="Search by Id" class="searchInput" [(ngModel)]="branchId">
                  </td>
                  <td>
                    <input type="text" placeholder="Search by name" [(ngModel)]="name" class="searchInput">
                  </td>
                  <td>
                    <input type="text" placeholder="Search by region" [(ngModel)]="region" class="searchInput">
                  </td>
                  <td>
                    <input type="text" placeholder="Search by product " [(ngModel)]="product" class="searchInput">
                  </td>
                  <td>
                    <input type="text" placeholder="Search by state " [(ngModel)]="state" class="searchInput">
                  </td>
                  <td>
                  </td>
                </tr>
              </thead>
              <tbody class="tbodys">
                <tr *ngIf="uploadOrderList.length == 0">
                      <td colspan="5"> No data Available </td>
                </tr>    
                <tr
                *ngFor="let item of uploadOrderList  | mulipleSearch:branchId:name:region:product:state |paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                  <td>{{item.branch_id}}</td>
                  <td>{{item.branch_name}}</td>
                  <td>{{item.region}}</td>
                  <td>{{item.product_name}}</td>
                  <td>{{item.state}}</td>
                  <td>
                    <div class="productQuantity">
                      <div class="increment-decrement-button-container">
                        <button>
                          <i class="material-icons " (click)="decrease(item.no)">
                            remove_circle_outline
                          </i>
                        </button>
                      </div>
                      <div class="inputField">
                        <input type="number" (ngModelChange)="changedValue($event,item.no)"
                          [(ngModel)]="item.product_qty">
                      </div>
                      <div class="increment-decrement-button-container">
                        <button>
                          <i class="material-icons" (click)="increase(item.no)">
                            add_circle_outline
                          </i>
                        </button>

                      </div>

                    </div>
                  </td>
                </tr>
              <div class="empty">
                  No data available
                </div>
            </tbody>
            </table>
          </div>
          <div class="paginationContainer">
            <pagination-controls *ngIf="uploadOrderList.length != 0" (pageChange)="p = $event"></pagination-controls>
          </div>
          <input type="file" 
                 #file 
                 style="display:none" 
                 (change)="handleFile($event.target)" 
                 id="file">
          <button type="button" 
                  *ngIf="uploadOrderList.length != 0" 
                  class="btn btn-default Approve"
                  (click)="sendApprove()">
            Approve
          </button>
          <button type="button" 
                  class="btn btn-default upload-excel" 
                  (click)="file.click()">
            Upload Excel
          </button>
          <button type="button" 
                  *ngIf="uploadOrderList.length != 0" 
                  class="btn btn-default clear"
                  (click)="clearValue()">Clear</button>
        </div>
      </div>
      <!--2nd table  main container closed -->
    </div>
    <!-- checks closed -->
    <!-- failure container -->
    <div class="failureContainer" *ngIf="failurealert">
      <label class="text-danger">Failure Reasons </label>
      <div class="table-container">
        <table>
          <thead [style.width.%]="!macCheck ? 'calc( 100% - 1.2vw )' : '100'">
            <tr>
              <th>Approvel ID</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let failure of failureResponses">
              <td>{{failure.approval_id}}</td>
              <td>{{failure.Remarks}}</td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-default back-button" (click)="back()">Back</button>
      </div>
    </div>
    <!-- failure container closed -->
  </div>
</div>
<!-- Table UI closed  -->