::-webkit-input-placeholder {
    // color: peachpuff;
     font-size: 13px;
   }
   ::-moz-placeholder {
   //  color: peachpuff;
     font-size: 13px;
   }
   :-ms-input-placeholder {
  //   color: peachpuff;
     font-size: 13px;
   }
   ::placeholder {
     //color: peachpuff;
     font-size: 13px;
   }
   .container{height: 7vh;
    width:40%;padding:0px;margin-left: auto;margin-right: auto;border-radius: 10px;margin-top: 8vh;
    cursor: pointer;padding-left: 9px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttons{
    margin-left:2vw;padding-left:2vw;padding-right:20vw;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type='number'] {
    -moz-appearance: textfield;
}

.alertss{
    text-align: center;
    font-weight: bold;
    min-height:10%;min-width:10%;position:fixed;top:40%;left:50%;z-index:1;
    padding: 20px 30px;
    background-color:#fcdb04 ;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2), 0px 6px 6px 0 rgba(0, 0, 0, 0.19);
}

.parentDisable{
    // position: fixed;
    // top: 0;
    // left: 0;
    // background: #000;
    // opacity: 0.2;
    
    // height: 100%;
    // width: 100%;
}

.box-shadows{
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.alerts{
    
    text-align: center;
    font-weight: bold;
    height:35% !important;
    width:28%;
    position:fixed;
    top:0%;left:45%;
    z-index:1;
    padding: 20px 20px;
    background-color:#fcdb04 ;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0px 10px 10px 0 rgba(0, 0, 0, 0.19);
}

.newalerts{
    
    text-align: center;
    font-weight: bold;
    
    width:34%;
   
    padding: 20px 20px;
    background-color:#fcdb04 ;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0px 10px 10px 0 rgba(0, 0, 0, 0.19);
}


.loader {
    position:absolute;
    top:30%;
    left:45%;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.box-shadows{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
}
.alert{
    min-height:10%;min-width:10%;position:absolute;top:50%;left:40%;z-index:1;
    padding: 20px;
    background-color:#fcdb04 ;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0px 10px 10px 0 rgba(0, 0, 0, 0.19);
}


.container{
   margin-top: 4vh; 
    
}
.card-columns{
    
    margin-left: 7%;
    width: 90%;
}
.text-style{font-weight: bold;font-size: 2vw;margin-top: 3vh;
}
.center-block {
    font-size:1.2vw;
    font-weight: bold;
    margin-left: 30%;
    
      
  }

.textnumber{
    color: #3f51b5;

}
.card-text{
    font-size: 14px;
    font-weight: bold;
}
.centerline{

    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 0px solid #ffffff;
}
.icons{
    font-size: 18px;
}
.left{
    
    float: left;
}
.right{
    float: right;
}
.alert{
    text-align: center;
    font-weight: bold;
    min-height:10%;min-width:10%;position:fixed;top:40%;left:50%;z-index:1;
    padding: 20px 40px;
    background-color:#fcdb04 ;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0px 10px 10px 0 rgba(0, 0, 0, 0.19);
}
table {
    
    
    font-family: arial, sans-serif;
    border-collapse: separate;
    background-color: #ffffff;
    border: 1px solid #dddddd;
  }
  
  td, th { 
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
    width: 20%;
    //width: 2vw;
    background-color: #ffffff;
  }



