

.box-shadows{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
}
.alert{
    min-height:10%;min-width:10%;position:absolute;top:50%;left:40%;z-index:1;
    padding: 20px;
    background-color:#fcdb04 ;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0px 10px 10px 0 rgba(0, 0, 0, 0.19);
}


.container{
   margin-top: 4vh; 
    
}
.card-columns{
    
    margin-left: 7%;
    width: 90%;
}
.text-style{
display:inline;float:left;font-weight: bold;font-size: 20px;margin-top: 3vh;margin-left:2vw 
}
.center-block {
    font-size:1.2vw;
    font-weight: bold;
    margin-left: 30%;
    
      
  }

.textnumber{
    color: #3f51b5;

}
.card-text{
    font-size: 14px;
    font-weight: bold;
}
.centerline{

    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 0px solid #ffffff;
}
.icons{
    font-size: 18px;
}
.left{
    
    float: left;
}
.right{
    float: right;
}
table {
    
    margin-right: 2%;
    font-family: arial, sans-serif;
    border-collapse: separate;
    background-color: #ffffff;
    border: 1px solid #dddddd;
  }
  
  td, th { 
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 15vw;
    background-color: #ffffff;
  }



