<div  class="header">
 
    
  
    <a  style="height:7vh;margin:0px;padding: 0px;text-align: left ;margin-left: 4vw;">
      <img src="../../../assets/imgs/logo.png" style="height:100% !important;width:10% !important;">
    </a>
   
   
  
  
</div>


  <div class="container" >
      <span class="text-style" style="margin-left: 1.5vw;"> Satin Invoice Management </span>
     
      </div>

<div class="container" style="margin-top:4vh;">
 
  
      <div (click)="upload('uploadInvoice')" style="cursor: pointer;margin-left: 38%;width: 23% !important;height:20% !important;border:1px solid #000000;padding: 5vh;border-radius: 10px;text-align: center;font-weight: bold;font-size: 20px;margin-top: 5vh; background-color:#fcdb04 ;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0px 10px 10px 0 rgba(0, 0, 0, 0.19);">
        UPLOAD INVOICE
         
      </div>
      <div (click)="upload('markDeliverd')" style="cursor:pointer;margin-left: 38%;width: 23% !important;height:20% !important;border:1px solid #000000;padding: 5vh;border-radius: 10px;text-align: center;font-weight: bold;font-size: 20px;margin-top: 6vh; background-color:#fcdb04 ;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0px 10px 10px 0 rgba(0, 0, 0, 0.19);">
          MARK DELIVERD
           
        </div>
  </div>