<!-- <div  class="header">
 <button type="button" (click)="home()"  class="btn btn-default" style="background-color: #000000;color: #fcdb04;padding-left: 2vw;padding-right: 2vw;font-weight: bold;margin-left: 6vw;margin-top: 1vh;border: none;" >Home</button>
        
  
    <a  style="height:5vh;margin:0px;padding: 0px;text-align: left ;margin-left: 2vw;padding-top:15px; ">
      <img src="../../../mfi-branch/assets/imgs/logo.png" style="height:80% !important;width:10% !important;margin-top: 5px;">
    </a>
    
</div> -->

<!-- <app-header></app-header> -->
  <div class="container">
    <span class="text-style"> Fullerton Invoice Management </span>
  </div>
  <div class="container" style="margin-top:6vh;">
    <div class="category" (click)="upload('uploadInvoice')">
      Upload Invoice
    </div>
    <!-- <div (click)="upload('markDeliverd')" class="category">
      Mark Delivered
    </div> -->
  </div>