.header{

    height:10vh;
    background-color: #fcdb04;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: sticky;
    top:0px;
    z-index: 1000;
   
}
.category{
    cursor: pointer;margin-left: 38%;width: 23% !important;height:20% !important;border:1px solid #000000;padding: 5vh;border-radius: 10px;text-align: center;font-weight: bold;font-size: 20px;margin-top: 5vh; background-color:#fcdb04 ;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0px 10px 10px 0 rgba(0, 0, 0, 0.19);
}
.container{
   margin-top: 3vh; 
    width: 90%;
}
.text-style{
font-weight: bold;font-size: 1.9vw;margin-top: 1vh;
text-align: center;margin-left: 36%;
}

