
  <mat-card style="width: 40%;margin-left: 30%;height: 60%;margin-top: 20%;">
  
  
  <mat-card-header>
  
  
     <mat-card-title>Login Page</mat-card-title>
  
  
  </mat-card-header>
  
  
  <mat-card-content fxLayout="column">
  
  
     <mat-form-field style="width:100%;">
  
  
       <input matInput placeholder="Email" style="width:100%;">
  
  
     </mat-form-field>
  
     <br>
  
     <mat-form-field style="width:100%;" >
  
  
       <input type="password" matInput placeholder="password" style="width:100%;">
  
  
     </mat-form-field>
  
  
  </mat-card-content>
  
  
  <mat-card-actions align="center">
  
  
     <button mat-raised-button color="primary" (click)="dashboard()">Login</button>
  
  
  </mat-card-actions>
  
  
  </mat-card>
  
  

