
<div class="custom-alert" 
     *ngIf="deactivatedAlert || createUserAlert || newUserAlert || deleteeUserAlert" >
  <!-- Deactivation successfull alert message -->
  <div *ngIf="deactivatedAlert " 
       class="alert alert-success alert-dismissible">
      <strong class="alert-message">Agent Deactivated Successfully</strong><br> 
      <div class="alert-button-container">
        <button style="margin-left: 38%;" (click)="reload()">
          OK
        </button>
      </div>   
  </div>
  <!-- agent successfull message -->
  <div *ngIf="newUserAlert" 
        class="alert alert-success alert-dismissible" 
        style="padding:10px 20px;border-radius:10px;min-width: 22%;min-height: 8%;">
      <strong class="alert-message">Agent Created Successfully</strong><br>
      <div style="color: #000000;margin-top: 2vh;text-align: left;">
        <label>Username &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp; {{newUser.username}}</label>
        <br>
        <label>Password &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp; {{newUser.password}}</label>
      </div> 
      <div class="alert-button-container">
        <button style="margin-left: 40%; margin-top: 10px;" (click)="newPassword()">
          OK
        </button>
      </div>   
  </div>
  <div *ngIf="deleteeUserAlert" class="alert alert-success alert-dismissible">
    <strong style="font-size: 18px;">
      Are you sure you want to deactivate this user
    </strong>
    <br>
    <div class="alert-button-container">
      <button (click)="deactivatedAgent()"> OK</button>
      <button  (click)="deleteeUserAlert = false" style="margin-left:10%;">
        CANCEL
      </button>
    </div>
</div>
  <div *ngIf="createUserAlert" class="alert alert-success alert-dismissible">
      <strong style="font-size: 18px;">
        Are you sure you want to create this user
      </strong>
      <br>
      <div class="alert-button-container">
        <button  
                (click)="createUser()">
          OK
        </button>
        <button 
                (click)="createUserAlert = false"
                style="margin-left:10%;">
          CANCEL
        </button>
      </div>
  </div>
</div>
 

  <div class="search-agent-container" *ngIf="filterContainer">
      <div class=" text-center">
          <span class="text-style"> Delivery Agent Portal </span>
          <button type="button" 
                  class="btn btn-primary" 
                  style="margin-left: 3vw;" 
                  (click)="filterContainer= false;this.singInDetails.reset();">
                  Add Agent
          </button> 
      </div>
      <br><br>
      <!-- Search user for deactivation -->
    <div class="search-filter">
      <input class="form-control" 
             id="myInput"  
             (input)="searchByAgent($event)" 
             [(ngModel)]="searchAgentName" 
             type="text" 
             placeholder="Search By Agent Name" />
      <ul class="list-group" 
          id="myList" 
          *ngIf="searchAgentName &&!filterAgent[0] && !agentselection.name">
        <li class="list-group-item" 
            *ngIf="searchAgentName &&!filterAgent[0] ">
             No data Available 
        </li>       
      </ul> 
      <ul class="list-group"  
          id="myList" 
          *ngIf="filterAgent">
        <li class="list-group-item" 
            style="cursor: pointer;" 
            *ngFor="let item of filterAgent" 
            (click)="selectedAgent(item)">
              {{item.name}} &nbsp;&nbsp;&nbsp; ({{item.mobile}})
        </li>       
      </ul>
    </div>
    

    <!-- Table customer Details -->
    <div *ngIf="agentselection.name" class="table1Container table-responsive">
      <table>
          <tr>
            <th style="width:40%">Agent Name</th>
            <td style="width:60%"> {{agentselection.name}}</td>          
          </tr>
          <tr>
            <th>Mobile No</th>
            <td>{{agentselection.mobileNo}}</td>
          </tr>
          <tr>
            <th>State</th>
            <td>{{agentselection.state}}</td>   
          </tr>
          <tr>
            <th>Hub</th>
            <td>{{agentselection.hub}}</td>
          </tr>       
      </table>
      <button type="button" class="btn btn-primary" style="margin-left: 34%;margin-top: 5vh;" (click)="deleteeUserAlert = true">Deactivate User</button>
    </div>
  </div>

  <div class="add-new-agent-container" style="background-color: #ffffff;margin-top: 0px;" *ngIf="!filterContainer">
    <div class="tableContainer " style="width: 60%;margin-left:auto;margin-right: auto;">
      <button type="button" class="btn btn-primary" style="margin-top: 5vh;"  (click)="filterContainer = true;searchAgentName = '' ">Back To Search</button>
      <!-- <table style="margin-top: 3vh;">
          <tr>
            <th style="width:40%">Agent Name</th>
            <td style="width:60%;padding: 0px 0px;">
               <input type="text" placeholder="enter Agent Name" class="user-field-details">
            </td>          
          </tr>
          <tr>
            <th>Mobile No</th>
            <td>customerDetails.eligibleForCrossSale}}</td>
          </tr>
          <tr>
            <th>State</th>
            <td>customerDetails.primaryPhoneNumber}}</td>   
          </tr>
          <tr>
            <th>Hub</th>
            <td>customerDetails.agent_full_name}}</td>
          </tr>       
      </table> -->
      <form [formGroup]="singInDetails" autocomplete="off" class="form-horizontal" style="margin-top: 3vh;">
          <div class="panel panel-primary" style="border: 2px solid #eeeeee;border-radius: 10px;">
            <div class="panel-heading" style="padding: 20px;">
              <h3 class="panel-title" style="text-align: center;color: #000000;font-weight: bold;font-size: 1.5vw;">Create Agent</h3>
            </div>
            <div class="panel-body">
                <!-- [ngClass]="{'has-error': formErrors.email}" -->
                <div class="form-group">
                    <label class="col-sm-3 control-label pull-left" for="email">Agent Name :</label>
                    <div class="col-sm-8">
                      <input id="Agentname" type="text" autocomplete="off" class="form-control"
                              formControlName="Agentname" (blur)="logValidationErrors()">
          
                      <span class="help-block" *ngIf="formsError.Agentname">
                         {{formsError.Agentname}}
                      </span>
                      
                    </div>
                  </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label pull-left" for="MobileNo">Mobile No :</label>
                      <div class="col-sm-8">
                        <input  id="MobileNo" 
                                type="number"
                                class="form-control"
                                formControlName="MobileNo"
                                oninput="javascript: if (this.value.length > 10) this.value = this.value.slice(0, 10);"
                                autocomplete="off">           
                        <span class="help-block" *ngIf="formsError.MobileNo">
                          {{formsError.MobileNo}}
                        </span>
                      </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label pull-left" for="state"> Select State :</label>
                        <div class="col-sm-8 ">
                          <input  id="state" 
                                  type="text" 
                                  autocomplete="off"  
                                  readonly
                                  value="{{loginUserState}}"
                                  class="form-control"
                                  formControlName="state" />
                          <!-- <label >{{loginUserState}}</label> -->
                          <span class="help-block" *ngIf="formsError.state">
                            {{formsError.state}}
                          </span>
                        </div>
                    </div>
                    <div class="form-group" >
                          <label class="col-sm-3 control-label"  for="Hub"> Select Hub : </label>
                          <div class="col-sm-8">
                            <input  id="Hub" 
                                    type="text" 
                                    class="form-control"
                                    autocomplete="off"
                                    formControlName="Hub"/>
                            <ul class="list-group" id="myList" *ngIf=" !filterHubs[0] && singInDetails.get('Hub').dirty && !hubsValidation">
                              <li class="list-group-item" *ngIf=" !filterHubs[0] && singInDetails.get('Hub').dirty && !hubsValidation"> No data Available </li>       
                            </ul>         
                            <ul class="list-group" style="cursor: pointer;"   id="myList">
                              <li *ngFor="let item of filterHubs" 
                                  (click)="selectHub(item)" 
                                  class="list-group-item">
                                  {{item}}
                              </li>
                            </ul> 
                            <span class="help-block" style="margin-top: 0px;padding-top:0px;margin-left: 1.5vw;" *ngIf="formsError.Hub">
                              {{formsError.Hub}}
                            </span>
                          </div>
                    </div>
            </div>
            <div class="panel-footer">
              <button class="btn btn-primary" style="margin-left: 40%;" [disabled]="singInDetails.invalid || !hubsValidation" (click)="createUserAlert = true" type="submit">Create User</button>
            </div>
          </div>
        </form>
      
      
      <!-- <button type="button" class="btn btn-primary" style="margin-left: 34%;margin-top: 5vh;">Activate User</button> -->

    </div>
  </div>
