*{
    font-size: 1.2vw;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.text-style{font-weight: bold;font-size: 1.8vw;margin-top: 3vh;padding-top: 1vh;
}

.btn{
    color:#000000 ;
    background-color:#fcdb04 ; 
    font-weight: bold;
    padding: 0.5vw 1.5vw;
}
.search-agent-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    min-height:100vh ;
}

.help-block{
    color: red;
}
 //custom alert box
 .alert{
    text-align: center;
    font-weight: bold;
    min-height:10%;
    min-width:10%;
    position:fixed;
    top:38%;z-index: 99;
    padding: 20px 40px;
    background-color:#fcdb04 ;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0px 10px 10px 0 rgba(0, 0, 0, 0.19);
}
.alert-message{
    font-size: 18px;
    color: #000000;
}
.alert-button-container{
    width: 100%;
    button{
        display:inline;float: left;width:30%;margin-left:16%;margin-right:auto;margin-top:30px;background-color: #000000;color:#fcdb04;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);border: none;padding: 7px;
    }
}
.search-filter{
    width: 50%;
    margin-left: 20%;
    display: inline;float: left;
    .form-control{
        padding: 1.5vw;
        border-radius: 10px;
    }
    .list-group{
        max-height: 40vh;
        overflow-y: auto;
        width: 98%;
        margin-left: auto;margin-right: auto;
    }
}
.list-group{
    max-height: 40vh;
    overflow-y: scroll;
    width: 98%;
    margin-left: auto;margin-right: auto;
}

.table1Container{
width: 50% !important;
margin-left: 20%;
margin-top: 5vh;
font-size: 1.1vw;
}
.panel-heading{
    // color:#000000 ;
     background-color:#eee ; 
    //font-weight: bold;
}
.form-control{
    padding:3.5vh 1vw;
    border-radius: 10px;
}
.form-group{
    margin-top: 3vh;
}
table {
    
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    overflow: hidden;
    td, th { 
        border: 1px solid #dddddd;
        text-align: center;
        padding: 2.5vh 2.5vw;
        min-width: 5vw;
        max-width: 7vw;
        background-color: #ffffff;
        overflow: hidden;
    }
    
}

.user-field-details{
    width: 100%;
    height: 100%;
    padding: 1vw;
}

.add-new-agent-container{
    width: 100% !important;
    min-height:100vh !important;
}