// .header{
//     background-color: #fcdb04;
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//     position: sticky;
//     top:0px;
//     z-index: 1000;
//     height: 5vh;
   
// }
.header{
    background-color: #fcdb04;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: sticky;
    top:0px;
    z-index: 1000;
    min-height: 8vh;
    display: flex;
    padding: 0.5vh;
    //justify-content: center;
    align-items: center;

}
.logo{
    margin:0px;padding: 0px;text-align: left ;margin-left: 2%;
    cursor: pointer;display: inline;
    float: left;
}
.logo-img{
    height:6vh !important;width: 7vw;
}
.logout-button{
    font-size: 1.1vw;
    padding: 0.5vh 1vw;
    float: right;
    border:1px solid #000000;
    background: #000000;
    color: #fcdb04;
    margin-bottom: 0.5vh;
    border-radius: 5px;
    margin-top: 0px;
}
.header-logout-button{
    display: inline-block;float: right;margin-right: 2vw;padding-top: 5px;margin-left: 78%;text-align: center;
}
.branch-name{
    font-size:1.1vw;font-weight:bold;font-style: italic;margin: 0px;padding: 0px;text-align: center;
}
.sidnav-button{
    margin-left:1.5vw;margin-right: 0px;float: left;height: 100%;padding-top: 0.5vh;
}
.sidnav-icon{
    color:#000000;font-weight:bold;font-size:5vh;
}
 //custom alert box
 .alert{
    text-align: center;
    font-weight: bold;
    min-height:10%;min-width:10%;position:fixed;top:38%;z-index: 99;
    padding: 20px 40px;
    background-color:#fcdb04 ;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0px 10px 10px 0 rgba(0, 0, 0, 0.19);
}
.alert-message{
    font-size: 18px;
    color: #000000;
}
.alert-button-container{
    width: 100%;
    button{
        display:inline;float: left;width:30%;margin-left:16%;margin-right:auto;margin-top:30px;background-color: #000000;color:#fcdb04;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);border: none;padding: 7px;
    }
}

.activeclass{
    width: 100%;
    font-weight: bolder;
    font-size: 18px;
   // background-color: #fcdb04;
    color: #000000;
    //text-shadow: 3px 4px #eeeeee;
}
.sidmenu-icon{
    padding:0px;display: inline;font-size: 19px !important;
}
.example-container{
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height:100%;
    width: 19%;
    padding-top: 2.5vh;
    padding-left: 15px;
}
.btn-group-vertical{
    background: transparent;
}
.btn{
    padding: 3px 10px;
    float: right;
    border:1px solid #000000;
    background: #000000;
    color: #fcdb04;
    margin-top: 0px;
    margin-bottom: 0.5vh;
}
a{
    margin-top: 35px;
    padding: 10px;
    text-align: center;
    font-size: 1.2vw;
    font-weight: bold;
    color: #9e9e9e;
}