<div class="loaderContainer" *ngIf="loaders">
  <div class="loader"></div>
</div>
<div *ngIf="!loaders">
  <!-- Table -->
  <div class="tableContainer">
    <!-- <button type="button"  class="btn btn-default" style="background-color: #fcdb04;padding-left: 2vw;padding-right: 2vw;margin-bottom: 3vh;font-weight: bold;">Download Data</button>
         -->
    <table>
      <tr>
        <th>STATE</th>
        <th>Ordered</th>
        <th>GLP Delivered</th>
        <th>MFI Received</th>
        <th>Disbursed</th>
      </tr>
      <tr
        *ngFor="let item of stateWise | filter:searchText |searchByDate:date  | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
        <td>{{item.STATE}}</td>
        <td>{{item.ORDERED }}</td>
        <td>{{item.GLP_DELIVERED}}</td>
        <td>{{item.MFI_RECEIVED}}</td>
        <td>{{item.DISBURSED}}</td>
        <!-- <td>{{item.customer_address}}</td> -->
      </tr>
      <tr>
        <td class="totalTr">Total</td>
        <td class="totalTr">{{TotalOrder}}</td>
        <td class="totalTr">{{TotalDeliverd}}</td>
        <td class="totalTr">{{TotalReceived }}</td>
        <td class="totalTr">{{TotalDisbursed}}</td>
      </tr>
    </table>
  
    <!-- pagination -->
    <div class="paginationContainer">
      <pagination-controls (pageChange)="p =$event"></pagination-controls>
    </div>
  </div>
    <!-- DropDown  -->
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Download Data
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li (click)="statewise()" class="hovers">State wise</li>
        <li (click)="branchwise()" class="hovers">Branch wise</li>
        <li (click)="customerwise()" class="hovers">Customer wise</li>
      </ul>
    </div>
  
  
</div>