<div *ngIf="alertBox" class="alert alert-success alert-dismissible">
  <strong>Alert!!...</strong> You have {{failures.length}} Failures Results.
  <button data-dismiss="alert" 
          aria-label="close" 
          class="alert-box-button">
    OK</button>
</div>

<div class="loader-container" *ngIf="loaders">
  <div class="loader"></div>
</div>

<div *ngIf="!loaders">
  <br><br>
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-lg-2 text-style" 
         style="text-align: center;">
      Received Date
    </div>
    <div class="col-xs-3 col-sm-3 col-lg-3 box-shadows cursor dateselection-container">
      <input readonly 
             class="date-field"
             placeholder="Start Date"
             #startsDate="bsDatepicker" 
             [bsConfig]="bsConfig" 
             bsDatepicker 
             [(ngModel)]="startDate"
             (ngModelChange)="dateset($event)" 
             [maxDate]="maxDate1">
      <i class="material-icons date-icon" (click)="startsDate.toggle()">date_range</i>
    </div>
    <div class="col-xs-1 col-sm-1 col-lg-1 text-style" 
         style="text-align: center;">TO
    </div>
    <div class="col-xs-3 col-sm-3 col-lg-3 box-shadows cursor dateselection-container">
      <input readonly 
             class="date-field" 
             placeholder="End Date" 
             #endsDate="bsDatepicker"
             [bsConfig]="bsConfig" 
             bsDatepicker 
             [(ngModel)]="endDate" 
             (ngModelChange)="datesetend($event)"
             [minDate]="minDate2" 
             [maxDate]="maxDate2">
      <i class="material-icons date-icon" (click)="endsDate.toggle()">date_range</i>
    </div>
    <div class="col-xs-2 col-sm-2 col-lg-2 date-button-container" style="padding: 0.4vh;margin-left:1vw;">
      <button type="button" class="btn"
              (click)="DateFilter()">
        Submit
      </button>
      <button type="button" class="btn"
              style="margin-left: 10px;"
              (click)="clearDate()">
        Clear
      </button>
    </div>
  </div>
  <br><br>
  <!-- card -->
  <div class="container" style="margin-top:4vh;padding: 0px;">
    <div class="card-columns">
      <div class="card" style="margin-left: 0px;">
        <div class="card-body text-center">
          <p class="card-text textnumber">{{viewAllDelivery.length}}</p>
          <p class="card-text">ALL</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text textnumber">{{OrderedCount}}</p>
          <p class="card-text">ORDERED</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text textnumber" color="primary">{{DeliveredCount}}</p>
          <p class="card-text">DELIVERED</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text textnumber">{{ReceivedCount}}</p>
          <p class="card-text">RECEIVED</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body text-center">
          <p class="card-text textnumber" color="primary">{{DisursedCount}}</p>
          <p class="card-text">DISBURSED</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Table -->
  <div class="table-container">
    <table>
      <thead>
        <tr class="cursors">
          <th (click)="setOrder('invoice_id')" style="max-width: 10vw !important;">Invoice ID
            <button class="thead-button">
              <i class="material-icons " >
                swap_vert
              </i>
            </button>
          </th>
          <th (click)="setOrder('product_name')">Product Name
            <button class="thead-button">
              <i class="material-icons float-right" style="float: right;">
                swap_vert
              </i>
            </button>
          </th>
          <th (click)="setOrder('customer_name')">Customer Name
            <button class="thead-button">
              <i class="material-icons float-right" style="float: right;">
                swap_vert
              </i>
            </button>
          </th>
          <th (click)="setOrder('customer_phone')">Customer Phone
            <button class="thead-button">
              <i class="material-icons float-right">
                swap_vert
              </i>
            </button>
          </th>
          <th>Customer Address
          </th>
          <th (click)="setOrder('status')"> Status
            <button class="thead-button">
              <i class="material-icons float-right">
                swap_vert
              </i>
            </button>
          </th>
          <th class="cursor" (click)="setOrder('received_date')">Received Date
            <button class="thead-button">
              <i class="material-icons float-right">
                swap_vert
              </i>
            </button>
          </th>
          <th class="cursor" (click)="setOrder('disbursal_date')">Disbursal Date
            <button class="thead-button">
              <i class="material-icons float-right">
                swap_vert
              </i>
            </button>
          </th>
        </tr>
        <tr *ngIf="viewAllDelivery.length == 0">
          <td colspan="8" style="font-weight: bold;"> No data Available </td>
        </tr>
        <tr *ngIf="viewAllDelivery.length != 0">
          <td>
            <input type="text" 
                   placeholder="Search By Invoice Id" 
                   class="table-search-field" 
                   [(ngModel)]="invoiceId">
          </td>
          <td>
            <input type="text" 
                   placeholder="Search By product name" 
                   [(ngModel)]="productName" 
                   class="table-search-field">
          </td>
          <td>
            <input type="text" 
                   placeholder="Search By customer name" 
                   [(ngModel)]="customerName" 
                   class="table-search-field">
          </td>
          <td>
            <input type="text" 
                   placeholder="Search By customer phone " 
                   [(ngModel)]="customerPhone" 
                   class="table-search-field">
          </td>
          <td>
            <input type="text" 
                   placeholder="Search By customer address " 
                   [(ngModel)]="cutomerAddress" 
                   class="table-search-field">
          </td>
          <td>
            <input type="text" 
                   placeholder="Search By status" 
                   [(ngModel)]="status" 
                   class="table-search-field">
          </td>
          <td>
            <input type="text" 
                   placeholder="Search By recived date" 
                   [(ngModel)]="ReceivedDate" 
                   class="table-search-field">
          </td>
          <td>
            <input type="text" 
                   placeholder="Search By disbursed date" 
                   [(ngModel)]="disbursalDate"
                   class="table-search-field">
          </td>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of viewAllDelivery | filter:searchText  |multipleSearchAllorder:invoiceId:productName:customerName :customerPhone:cutomerAddress :status: ReceivedDate:disbursalDate |searchByDate:startDate:endDate:datefiltercheck :'received_date' | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
          <td>{{item.invoice_id}}</td>
          <td>{{item.product_name}}</td>
          <td>{{item.customer_name}}</td>
          <td>{{item.customer_phone}}</td>
          <td>
            <div class="table-address-field">{{item.address}}</div>
          </td>
          <td>{{item.status}}</td>
          <td>{{item.dateformat_received}}</td>
          <td>{{item.dateformat_disbursal}}</td>
        </tr>
        <div class="empty">
            No data available
        </div>
      </tbody>
    </table>
  </div>
  <div class="pagination-container">
    <pagination-controls (pageChange)="pagechanged($event)"></pagination-controls>
  </div>
</div>