/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    
    font-family: 'Roboto';
  }


  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }




    .bs-datepicker-body table td.week span 
{
  color: #fcdb04 !important; 
}

.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover 
{
  background-color: #fcdb04 !important; 
}