<!-- <div *ngIf="alertcheck" class="alert alert-success alert-dismissible" style="left: 40%;z-index: 99;">

  <strong style="font-size: 18px;">Are you sure you want to logout?</strong><br>
  <div style="width: 100%;">
    <button data-dismiss="alert" (click)="finalLogout()"
      style="display:inline;float: left;width:30%;margin-left:20%;margin-right:auto;margin-top:30px;background-color: #000000;color:#fcdb04;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);border: none;padding: 7px; ">

      OK</button>
    <button data-dismiss="alert" (click)="alertcheck = false"
      style="display:inline;float: left;width:30%;margin-left:10%;margin-right:auto;margin-top:30px;background-color: #000000;color:#fcdb04;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);border: none;padding: 7px; ">

      CANCEL</button>
  </div>

</div> -->
<div *ngIf="alertcheck" class="alert alert-success alert-dismissible">
    <strong class="alert-message">Are you sure you want to logout?</strong><br> 
    <div class="alert-button-container">
      <button  data-dismiss="alert" (click)="finalLogout()">
        OK
      </button>
      <button  data-dismiss="alert" (click)="alertcheck = false" style="margin-left:10%;">
        CANCEL
      </button>
    </div>   
  </div>


<!-- <div class="parentDisable">
<div   class="alert alert-success alert-dismissible alerts" style="border-radius: 10px;z-index: 999;">
  <i class="material-icons" data-dismiss="alert" aria-label="close" style="position: absolute;top:1px;right:1px;background-color:#000000;color:#fcdb04;cursor: pointer;">
      clear
      </i>
<strong style="font-size: 18px;">Upload  Excel File</strong><br> 

<div style="width: 100%;margin-top: 4vh;">
  <input type="file" #file style="display:none" (change)="handleFile($event.target.files)"
   id="file"
   >
   <div style="height: 10vh;padding-top: 2vh;width: 100%;border: 1px solid #000000;overflow: hidden;">
    <span *ngIf="fileToUpload" style="background: transparent;text-align: center;font-size:14px;">{{fileToUpload.name}}</span>
  </div>
   <div style="width: 100%;">
<button   (click)="file.click()"  style="display:inline;float: left;width:50%;margin-left:1%;margin-right:auto;margin-top:30px;background-color: #000000;color:#fcdb04;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);border: none;padding: 7px;">
Choose File</button>
<button   (click)="handleFileInput()"  style="display:inline;float: left;width:40%;margin-left:4%;margin-right:auto;margin-top:30px;background-color: #000000;color:#fcdb04;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);border: none;padding: 7px; ">
Upload</button>
</div>
</div>

</div>
</div> -->

  <!-- <mat-toolbar class="header">

    <mat-toolbar-row class="toolbarRow">
      <div >
        <button type="button" class="menuButton" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()"
          color="primary">
          <mat-icon aria-label="Side nav toggle icon" class="menuIcon">menu</mat-icon>
        </button>
        <a [routerLink]="['HO_Home']">
          <img src="../../../assets/imgs/logo.png">
        </a>
        <span class="logoutContainer">
          <p>HO</p>
          <button type="button" class="btn" (click)="logout()">logout</button>
        </span>
      </div>
       <div style="display:inline;float:right;border: 1px solid #000000;height: 100%;text-align: center;padding: 0px;margin: 0px;">
        <p style="font-size:17px;font-weight:bold;margin: 0px;padding: 0px;">HO</p>
        <button type="button" class="btn" style="margin-top: 0px;height: 47%; " (click)="logout()">logout</button>
        </div> 

    </mat-toolbar-row>

  </mat-toolbar> -->
  <div class="header">
      <button type="button" class="sidnav-button" 
                aria-label="Toggle sidenav" 
                mat-icon-button 
                (click)="sidenav.toggle()">
          <mat-icon aria-label="Side nav toggle icon" class="sidnav-icon">menu</mat-icon>
      </button>
      <a class="logo">
        <img src="../../../assets/imgs/logo.png" [routerLink]="['HO_Home']" class="logo-img" >
      </a>
      <span class="header-logout-button">
        <p class="branch-name">HO</p>
        <button type="button" class="logout-button" 
                (click)="alertcheck = true">logout
        </button>
      </span> 
    </div>

  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" class="example-container" [(opened)]="opened" fixedInViewport="true">
      <br><br><br><br>
      <a [routerLink]="['HO_Home']" [routerLinkActive]=" 'activeclass' " class=" text-nowrap display-3 sidmenu">
        <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp; Home
      </a>


      <a [routerLink]="['ApproveOrders']" [routerLinkActive]=" 'activeclass' " style="margin-top: 2vh;"
        class="text-nowrap display-3 sidemenu">
        <span class="glyphicon glyphicon-list-alt"></span>
        <!-- <img src="../../../mfi-branch/assets/icon/list.svg" width="20px !important;height:20px !important;margin-right:0px;"> -->

        &nbsp; Approve new orders
      </a>

      <a [routerLink]="['uploadMsl']" [routerLinkActive]=" 'activeclass' " style="margin-top: 2vh;"
        class="text-nowrap display-3 sidemenu">
        <span class="glyphicon glyphicon-edit"></span>
        <!-- <img src="../../../mfi-branch/assets/icon/edit.svg" width="20px !important;height:20px !important;margin-right:0px;"> -->
        &nbsp; Update MSL
      </a>

      <a [routerLink]="['branchEdit']" [routerLinkActive]=" 'activeclass' " style="margin-top: 2vh;"
        class="text-nowrap display-3 sidemenu">
        <span class="glyphicon glyphicon-cog"></span>
        <!-- <img src="../../../mfi-branch/assets/icon/edit.svg" width="20px !important;height:20px !important;margin-right:0px;"> -->

        &nbsp; Branch management
      </a>
      <br><br>
      <!-- <a   [routerLink]="['ApproveOrders' ]" [routerLinkActive]=" 'activeclass' " class="text-nowrap display-4"(click)="closeactive()">
                  <span class="material-icons">
                      cloud_download
                  </span>&nbsp; Approve New Orders
              </a> -->



    </mat-sidenav>

    <mat-sidenav-content style="min-height:100vh;">


      <router-outlet></router-outlet>


    </mat-sidenav-content>
  </mat-sidenav-container>