  <div *ngIf="alertcheck" class="alert alert-success alert-dismissible">
      <strong class="alert-message">Are you sure you want to logout?</strong><br> 
      <div class="alert-button-container">
        <button  data-dismiss="alert" (click)="finalLogout()">
          OK
        </button>
        <button  data-dismiss="alert" (click)="alertcheck = false" style="margin-left:10%;">
          CANCEL
        </button>
      </div>   
  </div>
  <div class="header">
      <button type="button" class="sidnav-button" 
                aria-label="Toggle sidenav" 
                mat-icon-button 
                (click)="sidenav.toggle()">
          <mat-icon aria-label="Side nav toggle icon" class="sidnav-icon">menu</mat-icon>
      </button>
      <a class="logo">
        <img src="../../../mfi-branch/assets/imgs/logo.png" [routerLink]="['HO_Home']" class="logo-img" >
      </a>
      <span class="header-logout-button">
        <p class="branch-name">HO</p>
        <button type="button" class="logout-button" 
                (click)="alertcheck = true">logout
        </button>
      </span> 
  </div>
  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav 
                 mode="side" 
                 class="example-container" 
                 [(opened)]="opened" 
                 fixedInViewport="true">
      <br><br><br><br>
      <a [routerLink]="['HO_Home']" 
         [routerLinkActive]=" 'activeclass' " 
         class=" text-nowrap display-3 sidmenu">
        <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp; Home
      </a>
      <a [routerLink]="['ApproveOrders']" 
         [routerLinkActive]=" 'activeclass' " 
         style="margin-top: 2vh;"
        class="text-nowrap display-3 sidemenu">
        <span class="glyphicon glyphicon-list-alt"></span>&nbsp; Approve new orders
      </a>
      <a [routerLink]="['uploadMsl']" 
         [routerLinkActive]=" 'activeclass' " 
         style="margin-top: 2vh;"
         class="text-nowrap display-3 sidemenu">
        <span class="glyphicon glyphicon-edit"></span>&nbsp; Update MSL
      </a>
      <a [routerLink]="['branchEdit']" 
         [routerLinkActive]=" 'activeclass' " 
         style="margin-top: 2vh;"
         class="text-nowrap display-3 sidemenu">
        <span class="glyphicon glyphicon-cog"></span>&nbsp; Branch management
      </a>
      <br><br>
    </mat-sidenav>
    <mat-sidenav-content style="min-height:100vh;">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>