<!-- <div  class="header">
 
    
    <button type="button" (click)="home()"  class="btn btn-default" style="background-color: #000000;color: #fcdb04;padding-left: 2vw;padding-right: 2vw;font-weight: bold;margin-left: 6vw;margin-top: 1vh;border: none;" >Home</button>
        
  
    <a  style="height:5vh;margin:0px;padding: 0px;text-align: left ;margin-left: 2vw;padding-top:15px; ">
      <img src="../../../mfi-branch/assets/imgs/logo.png" style="height:80% !important;width:10% !important;margin-top: 5px;">
    </a>
   
   
  
  
</div> -->
<app-header></app-header>
  <!-- success alert box -->
  <div *ngIf="successalert" class="alert alertss alert-success alert-dismissible">
    <strong style="font-size: 18px;" >  
      {{successResponse.length}} order have been approved.
    </strong>
    <button  data-dismiss="alert" (click)="reload()" aria-label="close" style="display:block;width:30%;margin-left:auto;margin-right:auto;margin-top:30px;background-color: #000000;color:#fcdb04;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);border: none;padding: 7px; ">
 
    OK</button>
    
  </div>

  <!-- <div *ngIf="alerts" class="alert alertss alert-success alert-dismissible" style="left:42%;padding: 10px 45px;top:25%;">
    
      <strong style="font-size: 18px;" > File Not Upload<br> Please upload the File.
      </strong>
      <button  data-dismiss="alert"  aria-label="close" style="display:block;width:30%;margin-left:auto;margin-right:auto;margin-top:30px;background-color: #000000;color:#fcdb04;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);border: none;padding: 7px; ">
      
      OK</button>
      
    </div> -->
  <!-- Upload file Alert box -->
  <!-- <div  class="alert alert-danger alert-dismissible fade in" style="margin-top:2vh;width: 90%;margin-left: 5%;border-radius: 10px;padding: 7px;" *ngIf="alerts">
    <a  class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>File Not Upload</strong>&nbsp;&nbsp; Please upload the File.
  </div> -->


<div class="text-style"> {{heading }} </div>
     
<div style="margin-top: 23vh;display: block;width: 100%;">
  <div class="container">
    <span *ngIf="fileToUpload" class="filename">{{fileToUpload.name}}</span>
    <input type="file" style="display:none"
           id="file"
          (change)="handleFile($event.target.files)">
    <label for="file" class="choosefile-label" >Choose File</label>                     
  </div>
  <button type="button" 
          class="btn btn-primary upload-button" 
          (click)="handleFileInput()">Upload File
  </button>
  <div class="download-template-container">
    <a>Download Template File</a>
  </div>
</div> 
    
<div class="failure-container" *ngIf="failurealert">
  <label class="text-danger">Failure Reasons </label>
  <div class="table-container">
    <table>
      <thead style="width: calc( 100% - 1.2vw );display:table;table-layout:fixed;">
        <tr>
          <th style="width: 16vw;">LoanProposal ID</th>             
          <th>Remarks</th>       
        </tr>
      </thead>
      <tbody style="display:block;max-height:40vh !important; overflow-y:scroll;">
        <tr *ngFor="let failure of failureResponse" style="display:table; width:100%; table-layout:fixed;">
          <td style="width: 16vw;">{{failure.OrderID}}</td>      
          <td>{{failure.Remarks}}</td>           
        </tr>
      </tbody>  
    </table>
  </div>
</div>  
  <!-- <div *ngIf="uploadAlert"  class="alert alert-success alert-dismissible alerts" style="left: 35%;border-radius: 10px;">
      <i class="material-icons" data-dismiss="alert" aria-label="close" style="position: absolute;top:1px;right:1px;background-color:#000000;color:#fcdb04;cursor: pointer;">
          clear
          </i>
    <strong style="font-size: 18px;">Upload  Excel File</strong><br> 
    
    <div style="width: 100%;margin-top: 4vh;">
      <input type="file" #file style="display:none" (change)="handleFile($event.target.files)"
       id="file"
       >
       <div style="height: 10vh;padding-top: 2vh;width: 100%;border: 1px solid #000000;overflow: hidden;">
        <span *ngIf="fileToUpload" style="background: transparent;text-align: center;font-size:14px;">{{fileToUpload.name}}</span>
      </div>
       <div style="width: 100%;">
    <button   (click)="file.click()"  style="display:inline;float: left;width:50%;margin-left:1%;margin-right:auto;margin-top:30px;background-color: #000000;color:#fcdb04;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);border: none;padding: 7px;">
    Choose File</button>
    <button   (click)="handleFileInput()"  style="display:inline;float: left;width:40%;margin-left:4%;margin-right:auto;margin-top:30px;background-color: #000000;color:#fcdb04;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);border: none;padding: 7px; ">
    Upload</button>
    </div>
    </div>
    
  </div> -->
<!-- <div *ngIf="uploadAlert"  class="alert alert-success alert-dismissible alerts" style="left: 35%;border-radius: 10px;">
          <i class="material-icons" data-dismiss="alert" aria-label="close" style="position: absolute;top:1px;right:1px;background-color:#000000;color:#fcdb04;cursor: pointer;">
              clear
              </i>
        <strong style="font-size: 18px;">Upload  Excel File</strong><br> 
        
        <div style="width: 100%;margin-top: 4vh;">
          <input type="file" #file style="display:none" (change)="handleFile($event.target.files)"
           id="file"
           >
           <div style="height: 10vh;padding-top: 2vh;width: 100%;border: 1px solid #000000;overflow: hidden;">
            <span *ngIf="fileToUpload" style="background: transparent;text-align: center;font-size:14px;">{{fileToUpload.name}}</span>
          </div>
           <div style="width: 100%;">
        <button   (click)="file.click()"  style="display:inline;float: left;width:50%;margin-left:1%;margin-right:auto;margin-top:30px;background-color: #000000;color:#fcdb04;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);border: none;padding: 7px;">
        Choose File</button>
        <button   (click)="handleFileInput()"  style="display:inline;float: left;width:40%;margin-left:4%;margin-right:auto;margin-top:30px;background-color: #000000;color:#fcdb04;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);border: none;padding: 7px; ">
        Upload</button>
        </div>
        </div>
        
      </div> -->
<!-- <div   style="margin-top:9vh;margin-left: 35%;margin-top: 30vh;width: 30%;">
 
  
      <div (click)="upload()" style="width: 90% !important;height:20% !important;border:1px solid #000000;padding: 5vh;border-radius: 10px;text-align: center;font-weight: bold;font-size: 16px; background-color:#fcdb04 ;cursor: pointer;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0px 10px 10px 0 rgba(0, 0, 0, 0.19);">
        Upload  Excel File
         
      </div>
     <div style="text-align: center;font-size:20px;width:90%;margin-top:6vh;">
       <a>Download Template File</a>
       </div>
z
  </div>

  <div class="container" style="margin-top:8vh;width: 80%;margin-left: 10%;" *ngIf="failurealert">
    <label style="margin-left:2vw;font-size: 1.5vw;" class="text-danger">Failure Reasons </label>
    <div style="margin-top:1vh;" >
    <table >
        <tr>
          <th>LoanProposal ID</th>
          <th>Status</th>
          <th>Remarks</th>
          
        </tr>
        <tr *ngFor="let failure of failureResponse">
          <td>{{failure.OrderID}}</td>
          <td>{{failure.status}}</td>
          <td>{{failure.Remarks}}</td>
          
          
        </tr>
       
        

       
      
      </table>
      </div>
      </div> -->